/* src/pages/Category.css */
/* .category {
  padding: 2rem;
  min-height: 100vh;
}

.category h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
} */ 

/* src/components/CategoriesPage.css */

.categories-page {
  padding: 20px;
  text-align: center;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.category-card h2 {
  color: #1B998B; /* Forest Green */
  margin-bottom: 10px;
}

.category-card p {
  color: #555;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
