.Contact-page{
  min-height: 100vh;
}
/* src/components/Contact.css */

.Contact-page {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.Contact-page h1 {
  font-size: 2.5em;
  color: #1B998B; /* Forest Green */
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  max-width: 400px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}

.contact-form button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #1B998B; /* Forest Green */
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #379683; /* Dark Green */
}
