/* src/components/PostList.css */
.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-list .post {
  background-color: #F5F7F8;
  border-radius: 5px;
  border: 1px solid #7b7676;
  padding: 1rem;
  margin: 1rem;
  width: calc(33.333% - 2rem);
}
